<div class="alert alert-info alert-block">
  <b>No types defined yet.</b>
  <ul>
    <li>Please define entity types for curating documents in this collection.</li>
    <li>When you make a new annoatation or relation in a document, you may select its type from this pre-defined set of types.</li>
    <li>By clicking the above '<strong>Types</strong>' tab, you can manage types for this collection.</li>
  </ul>
</div>