<div class="alert alert-info alert-block">
  <b>No annotation recommenders defined yet.</b>
  <ul>
    <li>Annotation recommenders help you find information from your favorite data sources when you create or edit annotations.</li>
    <li>By clicking the above '<strong>Recommenders</strong>' tab, you can manage recommenders for this collection.</li>
  </ul>
</div>