<div class="alert alert-info alert-block">
  <b>No documents yet.</b>

  <ul>
    <li>[Add Documents] : To add a new document to the collection, you can obtain documents from 
      <%=link_to "PubMed", "http://www.ncbi.nlm.nih.gov/pubmed", :target => "_blank" %> or 
      you can upload a PMID list.
    </li> 
  </ul>


</div>