<div class="alert alert-block alert-info" style="margin-top:5px;font-size:0.8em" id="query-help">
  Users can enter exactly the same query format used in PubMed. The followings are examples of possible queries:
  <ul>
    <li>PTEN (Search PTEN in all fields)</li>
    <li>Alzheimer[title] (Search Alzheimer in titles)</li>
  </ul>
</div>