<div class="" style="font-size:0.8em;color:#ccc; font-style:italic; font-weight:200;margin-bottom:10px;background-color:#888;padding-right:10px;text-align:right">
  <i class="fa fa-resize-vertical"></i> You can scroll the table above.
</div>
