<div class="marketing">

    <h1>Introducing BioQRator</h1>

    <div class="row-fluid">
      <div class="span3">
        <h2>Compatibility</h2>
        <p>Compatible with most modern web browsers: Firefox, Chrome, Safari. </p>
      </div>
      <div class="span3">
        <h2>Interactive Editing</h2>
        <p> Highlight annotations and relationships. Use color coding of entity types and links to relevant data sources when appropriate. 
      </div>
      <div class="span3">
        <h2>BioC Format Support</h2>
        <p>Use the BioC format (XML-based) as a standard input and output format.</p>
      </div>
      <div class="span3">
        <h2>PIE the search </h2>
        <p>Use <i>PIE the search</i> for article ranking.</p>
      </div>
    </div>

    <!--hr class="soften"-->

    <!--h1>Built with Bootstrap.</h1>
    <p class="marketing-byline">For even more sites built with Bootstrap, <a href="http://builtwithbootstrap.tumblr.com/" target="_blank">visit the unofficial Tumblr</a> or <a href="./getting-started.html#examples">browse the examples</a>.</p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="http://soundready.fm/" target="_blank">
            <img src="assets/img/example-sites/soundready.png" alt="SoundReady.fm">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://kippt.com/" target="_blank">
            <img src="assets/img/example-sites/kippt.png" alt="Kippt">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank">
            <img src="assets/img/example-sites/gathercontent.png" alt="Gather Content">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
            <img src="assets/img/example-sites/jshint.png" alt="JS Hint">
          </a>
        </li>
      </ul>
     </div>

  </div-->

<!--div class="row">
  <div class="span4">
    <% unless user_signed_in? %>
      <span style="color:#369;font-weight:normal">Please sign in, first</span>
      <%= form_tag("/users/sign_in/", :html => {:class => "form", :method => "post"}) do |f| %>
        <fieldset>
          <div class="clearfix">
              <input autofocus="autofocus" id="user_email" name="user[email]" size="30" type="email" placeholder="email">
          </div>
          <div class="clearfix">
              <input id="user_password" name="user[password]" size="30" type="password" placeholder="password">
          </div>
          <div class="clearfix" style="color:#aaa;font-size:0.7em;padding-top:0;margin-bottom:10px;">
            <input id="user_remember_me" name="user[remember_me]" type="checkbox"> Remember me
          </div>
          <div class="clearfix" style="">
            <button class="btn btn-success" type="submit">Sign in</button>
          </div>
        </fieldset>
      <% end -%>
    <% end %>
  </div>
  <div class="span4">
    <% unless user_signed_in? %>
      <span style="color:#369;font-weight:normal">or Create a new account, now</span>
      <%= form_tag("/users", :html => {:class => "form", :method => "post"}) do |f| %>
        <fieldset>
          <div class="clearfix">
              <input id="user_email" name="user[email]" size="30" type="email" placeholder="email">
          </div>
          <div class="clearfix">
              <input id="user_password" name="user[password]" size="30" type="password" placeholder="password">
          </div>
          <div class="clearfix">
              <input id="user_password" name="user[password_confirmation]" size="30" type="password" placeholder="password confirmation">
          </div>
          <div class="clearfix" style="">
            <button class="btn btn-primary" type="submit">Sign up</button>
          </div>
        </fieldset>
      <% end -%>
    <% end %>
  </div-->

</div>

